<nav class="deep-orange darken-4">


    <div class="nav-wrapper" style="padding: 0 0 0 20px ">
        <% if(page != 'signup' && page != 'signin'){ %>
            <a href="#" class="brand-logo">OSS</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="<%= (page == 'index') ? 'active' : '' %>">
                    <a href="<%= (page == 'index') ? '#' : '/' %>" ><i class="material-icons">home</i></a>
                </li>
                <li class="<%= (page == 'addStuff') ? 'active' : '' %>">
                    <a href="<%= (page == 'addStuff') ? '#' : '/addStuff' %>" ><i class="material-icons">add_circle_outline</i></a>
                </li>
                <li id="li-drop-account">
                    <a class="dropdown-trigger" href="#" data-target="drop-account" id="account-trigger"><%= user.firstname.charAt(0).toUpperCase() + user.firstname.slice(1) %> <%=user.lastname.charAt(0).toUpperCase() + "."%><i
                                class="material-icons right">arrow_drop_down</i></a>
                </li>
            </ul>
        <% }else{ %>
            <a href="#" class="brand-logo center">OSS</a>
        <% } %>
        <ul id="drop-account" class="dropdown-content black">
            <li class="force-google-sync"><a class="center" id="force-google-sync">Force Google Sync</a></li>
            <li class="divider"></li>
            <li><a href="/logout" class="red-text center">Logout</a></li>
        </ul>
    </div>


</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>


<script src="/js/header.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>